<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Learn ReactJS</title>

  </head>
<body>
  <h1 class="container">BALLIN YO</h1>
</body>
</html>
